<header>
  <section>
    <img [src]="logo" alt="logo du site" class="logo" width="300" height="90" />
  </section>

  <section class="Section2">
    <nav>
      <ul>
        <li>
          <a [routerLink]="'/home'" (click)="setActiveButton('home')" 
          [ngClass]="{'active': activeButton === 'home'}">Accueil</a>
          <a [routerLink]="'/database'" (click)="setActiveButton('database')" 
          [ngClass]="{'active': activeButton === 'database'}">La Database</a>

          <a *ngIf="!isLoggedOk()" [routerLink]="'/login'" (click)="setActiveButton('login')" 
          [ngClass]="{'active': activeButton === 'login'}">
            <img [src]="user" alt="user connexion logo" class="user-logo" />
          </a>
          <a *ngIf="isLoggedOk()" [routerLink]="'/account'">Mon Profil</a>
          <a *ngIf="isLoggedOk()" (click)="logOut()">Me Déconnecter</a>
        </li>
      </ul>

      <button class="header-button" (click)="isLogged()">Is Logged ?</button>
      <button class="header-button" (click)="whoIsLogged()">
        Decode Token
      </button>
      <button class="header-button" (click)="getRole()">Get Role</button>
      <button class="header-button" (click)="readToken()">Read Token</button>
      <button class="header-button" (click)="getUserId()">UserId</button>
    </nav>
  </section>
</header>
