header {
    display: block;
    background-color: black;
}
nav ul li a {
    margin-right: 200px;
}

nav ul li img {
    margin-left: 30px;
}

a , p {
    color: whitesmoke;
    line-height: 2.5;
}

section {
    text-align: center;
}

.user-logo {
    width: 30px;
    height: 30px;
}
