<header>
   <section>
    <img [src]="logo" alt="logo du site" class="logo">
   </section> 
   <section class="Section2">
    <nav>
        <ul>
          <li>
              <a [routerLink]="'/home'">Accueil</a>
            <a [routerLink]="'/database'">La Database</a>
            <img [src] = "user" alt="user connexion logo" class="user-logo" [routerLink]="'/login'">
           <button class="header-button" (click)="isLogged()">Connecté</button> 
        </li>
        </ul>
          </nav>
   </section>
</header>

