<section>
  <div class="movies-container">
    <ng-container *ngIf="movieDetails$ | async as movieDetails">
      <article *ngIf="movieDetails.id">
        <header class="header">
          <h3>{{ movieDetails.title }}</h3>
          <div class="header-content">
            <p>{{ movieDetails.releaseYear }}</p>
            <p>{{ movieDetails.genreName }}</p>
            <p class="director">De {{movieDetails.director}}</p>
          </div>
        </header>
        <div class="content">
          <img
            [src]="movieDetails.posterUrl"
            alt="{{ movieDetails.title }} poster"
            class="img"
          />
          <p class="synopsis">{{ movieDetails.synopsis }}</p>
        </div>
      </article>
    </ng-container>
  </div>
</section>
<h1>Critiques spectateurs</h1>
<section class="review-space">
  <ng-container *ngIf="reviewDetailsId$ | async as reviewDetails">
    <div *ngFor="let review of reviewDetails" class="review-card">
      <div class="review-header">
        <strong class="username">{{ review.username }}</strong>
        <span class="rating">Rating: {{ review.rating }}</span>
      </div>
      <p class="comment">{{ review.review }}</p>
    </div>
  </ng-container>
</section>

