<div class="registerContainer">
  <h1>Créer un compte</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <label for="lastName">Nom de famille
      </label>
      <input
        type="text"
        id="lastName"
        formControlName="lastName"
        placeholder="Nom"
      />

      <label for="firstName">Prénom</label>
      <input
        type="text"
        id="firstName"
        formControlName="firstName"
        placeholder="Prénom"
      />


      <label for="username">Pseudo</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        placeholder="Pseudo"
      />


    <label for="avatarUrl">Avatar</label>
      <input id="avatarUrl" type="file" (change)="uploadFile($event)" />
  

    <label for="birthdate">Date de naissance</label>
    <input
      type="date"
      id="birthdate"
      formControlName="birthdate"
      placeholder="Date de naissance JJ/MM/AAAA"
    />

    <label for="email">E-mail</label>
    <input type="text" id="email" formControlName="email" placeholder="Email" />

    <label for="password">Mot de passe</label>
    <input
      type="password"
      id="password"
      formControlName="password"
      placeholder="Mot de passe"
    />
 <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  
    <button>Suivant</button>
  </form>
  <div class="create-account"></div>
  <a [routerLink]="'/login'" class="buttonBack">Retour</a>
</div>
