h1 {
  text-align: center;
  margin-top: 10px;
}

.aboutPic {
  display: block;
  max-width: 100%;
  width: 900px;
  height: auto;
  margin: 20px auto;
}

.textContainer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}
.sectionBox {
  border: 2px solid #333;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  background-color: whitesmoke;
}
h2 {
  text-align: center;
  padding: 6px;
  margin: 10px 0;
}

h3 {
  text-align: center;
  padding: 4px;
  margin: 8px 0;
}

p {
  text-align: center;
  margin: 8px 0;
  line-height: 1.6;
}
