<section>
    <h1>À propos</h1>
    <section class="textContainer">
    <div class="sectionBox">
    <p>
        Bienvenue sur The Horror Database, votre destination ultime pour tout ce qui concerne les films d'horreur !
      </p>
      <p>
        Notre mission est de créer la plus grande base de données communautaire dédiée aux films d'horreur.
      </p>
    </div>
    </section>
  </section>
  
  <section>
    <img 
      [src]="about" 
      alt="Image représentant des méchants de films d'horreur" 
      class="aboutPic" 
    />
  </section>
  
  <section class="textContainer">
  
    <div class="sectionBox">
    <h2>Notre Vision</h2>
    <p>
      Nous croyons que les films d'horreur sont plus qu'un simple divertissement - ils sont une forme d'art qui mérite d'être célébrée et partagée. C'est pourquoi nous avons créé The Horror Database, un espace où les passionnés du genre peuvent se rassembler, découvrir de nouveaux films et revisiter leurs favoris.
    </p>
</div>
<div class="sectionBox">

    <h2>Ce Que Nous Offrons</h2>
  
    <h3>Une Base de Données Enrichie par la Communauté</h3>
    <p>
      Ici, chaque membre a la possibilité de contribuer en ajoutant des films, en partageant des avis, et en notant les films. Plus nous avons de contributions, plus notre base de données devient riche et diversifiée.
    </p>
</div>
  
<div class="sectionBox">
    <h3>Commentaires et Évaluations</h3>
    <p>
      Lisez les avis de la communauté et partagez vos propres impressions sur les films que vous avez regardés. Vos critiques aident les autres membres à découvrir des perles rares et à éviter les déceptions.
    </p>
</div>
  
<div class="sectionBox">
    <h3>Recherche Avancée</h3>
    <p>
      Trouvez facilement les films que vous cherchez grâce à notre moteur de recherche avancé. Que vous soyez à la recherche d'un classique des années 80, d'un film de zombies ou d'une nouveauté terrifiante, The Horror Database est là pour vous guider.
    </p>
    </div>
  
    <div class="sectionBox">
    <h3>Communauté Passionnée</h3>
    <p>
      Rejoignez une communauté de cinéphiles passionnés qui partagent votre amour pour le genre horrifique et donnez votre avis sur vos films préférés.
    </p>
</div>
  
<div class="sectionBox">
    <h2>Rejoignez-Nous</h2>
    <p>
      Nous vous invitons à vous inscrire et à contribuer à notre base de données. Que vous soyez un expert en films d'horreur ou un novice curieux, votre participation est précieuse.
    </p>
  
    <p>
      Ensemble, nous pouvons faire de The Horror Database la référence incontournable pour tous les amateurs de films d'horreur.
    </p>
  
    <p>
      Merci de faire partie de notre communauté et de contribuer à la richesse de The Horror Database. Préparez-vous à plonger dans l'univers fascinant et effrayant des films d'horreur !
    </p>
</div>
  </section>
  