<h1>Espace Admin</h1>
<section class="admin-navbar">
  <nav>
    <div class="accountNav">
      <ul>
        <li>
          <a [routerLink]="'/admin-database'">La database</a
          ><a [routerLink]="'/admin-members'">Les membres</a>
        </li>
        <li>
          <a [routerLink]="'/admin-add-movie'">Les films ajoutés</a
          ><a [routerLink]="'/admin-reviews'">Les critiques</a>
        </li>
        <li><a [routerLink]="'/account'">Mon Compte</a></li>
        <li><a [routerLink]="'/favorite-movie'">Mes films favoris</a></li>
        <li><a [routerLink]="'/my-review'">Mes critiques</a></li>
        <li><a [routerLink]="'/my-add-movie'">Mes films ajoutés</a></li>
      </ul>
    </div>
  </nav>
</section>
