<div class="registerContainer">
    <h1>Créer un compte</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="name-container">
        <label for="lastname"></label>
        <input type="text" id="lastname" formControlName="lastname" placeholder="Nom">

        <label for="name"></label>
        <input type="text" id="name" formControlName="name"placeholder="Prénom">
    </div>

    <label for="dateOfBirth"></label>
        <input type="text" id="dateOfBirth" formControlName="dateOfBirth"placeholder="Date de naissance JJ/MM/AAAA">

        <label for="email"></label>
        <input type="text" id="email" formControlName="email" placeholder="Email">
        
        <label for="password"></label>
        <input type="password" id="password" formControlName="password"placeholder="Mot de passe">
        
        <button >Suivant</button>
    </form>
    <div class="create-account">
</div>
<a [routerLink]="'/login'" class="buttonBack">Retour</a>
  </div>