<app-admin-navbar></app-admin-navbar>
<h1>Les films ajoutés</h1>
<section>
  <div class="movies-container">
    <ng-container *ngFor="let item of sortedMoviesById">
      <article *ngIf="item.id">
        <header>
          <h3>{{ item.title }}</h3>
          <div class="header-content">
            <p>{{ item.releaseYear }}</p>
            <p>{{ item.genreName }}</p>
          </div>
          <img
            [src]="item.posterUrl"
            alt="Affiche du film {{ item.title }}"
            class="img"
          />
          <p class="synopsis">{{ item.synopsis }}</p>
        </header>
        <div class="content">
          <button class="btn-style" (click)="updateMovieStatus(item, 'APPROVED')">
            Approuver
          </button>
          <button class="btn-style" (click)="updateMovieStatus(item, 'REFUSED')">Rejeter</button>
        </div>
      </article>
    </ng-container>
  </div>
</section>