<div class="container">
    <h1>Connectez-vous</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <label for="email">Email</label>
        <input type="text" id="email" formControlName="email">
        
        <label for="password">Mot de passe</label>
        <input type="password" id="password" formControlName="password">
        
        <button>Se Connecter</button>
    </form>
    <p>Pas encore membre ?</p>
    <a [routerLink]="'/create-account'">Inscris-toi !</a>
  </div>
  