.container {
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 35px;
}

h1,
a,
p,
label {
  color: white;
}

.formControleName {
  color: white;
}

input::placeholder {
  color: white;
  opacity: 1;
}

input {
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

h1 {
  margin-bottom: 1rem;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
}

input,
button {
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: grey;
}

.create-account {
  margin: 15px;
}

.create-account p,
.create-account a {
  display: inline;
  margin-right: 5px;
}

.create-account a {
  font-weight: bold;
}

@media screen and (min-width: 1200px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}
