<app-admin-navbar *ngIf="isAdmin"></app-admin-navbar>
<app-member-navbar *ngIf="!isAdmin"></app-member-navbar>
<h1>Mes films ajoutés</h1>
<section>
  <div class="movies-container">
    <ng-container *ngIf="addedMovieCards.length > 0">
      <article *ngFor="let movie of addedMovieCards">
        <header>
          <h3>{{ movie.title }}</h3>
            <p>{{ movie.releaseYear }}</p>
            <p>{{ movie.genreName.join(", ") }}</p>
            <!-- Afficher les genres sous forme de liste -->
            <p class="director">De {{ movie.director }}</p>
            <p>Status :</p>
            <p>{{ movie.status }}</p>
            <img
            [src]="movie.posterUrl"
            alt="Affiche du film {{ movie.title }}"
            class="img"
          />
        </header>
        <div class="content">
          <p class="synopsis">{{ movie.synopsis }}</p>
        </div>
      </article>
    </ng-container>
    <p *ngIf="addedMovieCards.length === 0">Aucun film ajouté.</p>
    <!-- Message si aucun film -->
  </div>
</section>
