<h1>Espace Admin</h1>
<section class="admin-navbar">
  <nav>
    <div class="accountNav">
      <ul>
        <li>
          <a href="/admin-database">La database</a
          ><a href="/admin-members">Les membres</a>
        </li>
        <li>
          <a href="admin-add-movie">Les films ajoutés</a
          ><a href="admin-reviews">Les critiques</a>
        </li>
        <li><a href="/account">Mon Compte</a></li>
        <li><a href="/favorite-movie">Mes films favoris</a></li>
        <li><a href="my-review">Mes critiques</a></li>
        <li><a href="my-add-movie">Mes films ajoutés</a></li>
      </ul>
    </div>
  </nav>
</section>
