footer {
  display: block;
  background-color: black;
}

a,
p {
  color: whitesmoke;
  line-height: 2.5;
}

img {
  width: 350px;
  height: 100px;
}

section {
  text-align: center;
}
