<section>
    <div class="movies-container">
    <ng-container *ngFor="let item of sortedMoviesById">
        <article *ngIf="item.id">
            <header class="header">
                <h3>{{ item.title }}</h3>
                <div class="header-content">
                <p>{{ item.releaseYear }}</p>
                <p>{{item.genreName}}</p>
                </div>
            </header>
            <div class="content">
                <img [src]="item.posterUrl" alt="{{ item.title }} poster" class="img">
                <p class="synopsis">{{item.synopsis}}</p>
            </div>
            
        </article>
    </ng-container>
</div>
</section>