.movies-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;
    max-height: 100vh;
    padding: 16px;
    box-sizing: border-box;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ECE1E1;
    padding: 8px;
    width: 200px;
    max-width: 500px;
    box-sizing: border-box;
}

button  { 
    border-radius: 10px;
    border: solid 1px;
    background-color: black;
    color: whitesmoke;
    font-size: 9px;
    padding: 1px 4px;
    margin-top: 5px; 
    align-self:center;
    justify-content:end;
}

section {
    padding: 4px;
}


h3 {
    margin-top: 7px;
    text-align: center;
    font-weight: bold;
    font-size: 70%;
}

p {
    text-align: center;
    font-size: 60%;
    padding: 3px;
}

.img {
    border-radius: 2px;
    object-fit: cover;
    height: 100px;
}

.header-content {
    display: inline-flex;
    margin-top: 3px;
}


.content {
    display: flex;
    margin-top: 5px;
    align-items: flex-start; 
    gap: 8px; 
}

.synopsis {
    margin: 7px;
    flex: 3;
    font-size: 0.6em;
    line-height: 0.9;
    text-align: justify;
}


@media screen and (min-width: 1200px) {
    article {
        border: 2px solid #ECE1E1;
        padding: 16px;
        width: 100%;
        max-width: 500px;
        height: 320px;
    }

    .img {
        height: 200px;
    }

    h3, p {
        font-size: 100%;
    }

    
.header-content {
    display: inline-flex;
    margin-top: 7px;
}


.content {
    display: flex;
    margin-top: 10px;
    align-items: flex-start; 
    gap: 16px; 
}

.synopsis {
    margin: 30px;
    font-size: 0.9em;
    line-height: 1.5;
    text-align: justify;
}

}
.movies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

button  {
   
    border-radius: 20px;
    border: solid 1px;
    background-color: black;
    color: whitesmoke;
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 5px; 
    align-self:center;
    justify-content:end;
}

