<section class="sidenav">
  <div>
    <h1 class="filtres">Filtres</h1>
  </div>
  <div>
    <h3>Trier Par</h3>
    <ul>
      <li>
        <button
          (click)="showMoviesByGenre('')"
          [ngClass]="{ active: activeButton === 'Tous' }"
          (click)="setActiveButton('Tous')"
        >
          Tous
        </button>
      </li>
      <li>
        <button
          (click)="sortByTitle()"
          [ngClass]="{ active: activeButton === 'Ordre Alphabetique' }"
        >
          Ordre Alphabétique
        </button>
      </li>
      <li>
        <button
          (click)="sortByRating()"
          [ngClass]="{ active: activeButton === 'Notes' }"
        >
          Notes
        </button>
      </li>
      <li>
        <button [ngClass]="{ active: activeButton === 'Années' }">
          Années
        </button>
      </li>
    </ul>
  </div>
  <div class="genres">
    <h3>Par genres</h3>
    <ul class="genresGrid">
      <li>
        <button
          (click)="showMoviesByGenre('')"
          [ngClass]="{ active: activeButton === 'Tous' }"
          (click)="setActiveButton('Tous')"
        >
          Tous
        </button>
      </li>
      <li>
        <button
          (click)="showMoviesByGenre('Gore')"
          [ngClass]="{ active: activeButton === 'Gore' }"
          (click)="setActiveButton('Gore')"
        >
          Gore
        </button>
      </li>
      <li>
        <button
          (click)="showMoviesByGenre('Monstres')"
          [ngClass]="{ active: activeButton === 'Monstres' }"
          (click)="setActiveButton('Monstres')"
        >
          Monstres
        </button>
      </li>
      <li>
        <button
          (click)="showMoviesByGenre('Possession')"
          [ngClass]="{ active: activeButton === 'Possession' }"
          (click)="setActiveButton('Possession')"
        >
          Possession
        </button>
      </li>
      <li>
        <button
          (click)="showMoviesByGenre('Psychologique')"
          [ngClass]="{ active: activeButton === 'Psychologique' }"
          (click)="setActiveButton('Psychologique')"
        >
          Psychologique
        </button>
      </li>
      <li>
        <button
          (click)="showMoviesByGenre('Slasher')"
          [ngClass]="{ active: activeButton === 'Slasher' }"
          (click)="setActiveButton('Slasher')"
        >
          Slasher
        </button>
      </li>
      <li>
        <button
          (click)="showMoviesByGenre('Sorcellerie')"
          [ngClass]="{ active: activeButton === 'Sorcellerie' }"
          (click)="setActiveButton('Sorcellerie')"
        >
          Sorcellerie
        </button>
      </li>
      <li>
        <button
          (click)="showMoviesByGenre('Surnaturel')"
          [ngClass]="{ active: activeButton === 'Surnaturel' }"
          (click)="setActiveButton('Surnaturel')"
        >
          Surnaturel
        </button>
      </li>
      <li>
        <button
          (click)="showMoviesByGenre('Survival')"
          [ngClass]="{ active: activeButton === 'Survival' }"
          (click)="setActiveButton('Survival')"
        >
          Survival
        </button>
      </li>
      <li>
        <button
          (click)="showMoviesByGenre('Zombie')"
          [ngClass]="{ active: activeButton === 'Zombie' }"
          (click)="setActiveButton('Zombie')"
        >
          Zombie
        </button>
      </li>
    </ul>
  </div>
  <div class="release">
    <h3>Années de sorties</h3>
    <ul class="releaseGrid">
      <li>
        <button
          (click)="showMoviesByYear('2020', '2029')"
          [ngClass]="{ active: activeButton === '2020-2029' }"
          (click)="setActiveButton('2020-2029')"
        >
          2020-2029
        </button>
      </li>
      <li>
        <button
          (click)="showMoviesByYear('2010', '2019')"
          [ngClass]="{ active: activeButton === '2010-2019' }"
          (click)="setActiveButton('2010-2019')"
        >
          2010-2019
        </button>
      </li>
      <li>
        <button
          (click)="showMoviesByYear('2000', '2009')"
          [ngClass]="{ active: activeButton === '2000-2009' }"
          (click)="setActiveButton('2000-2009')"
        >
          2000-2009
        </button>
      </li>
      <li>
        <button
          (click)="showMoviesByYear('1990', '1999')"
          [ngClass]="{ active: activeButton === '1990-1999' }"
          (click)="setActiveButton('1990-1999')"
        >
          1990-1999
        </button>
      </li>
      <li>
        <button
          (click)="showMoviesByYear('1980', '1989')"
          [ngClass]="{ active: activeButton === '1980-1989' }"
          (click)="setActiveButton('1980-1989')"
        >
          1980-1989
        </button>
      </li>
      <li>
        <button
          (click)="showMoviesByYear('1970', '1979')"
          [ngClass]="{ active: activeButton === '1970-1979' }"
          (click)="setActiveButton('1970-1979')"
        >
          1970-1979
        </button>
      </li>
      <li>
        <button
          (click)="showMoviesByYear('1960', '1969')"
          [ngClass]="{ active: activeButton === '1960-1969' }"
          (click)="setActiveButton('1960-1969')"
        >
          1960-1969
        </button>
      </li>
      <li>
        <button
          (click)="showMoviesByYear('1950', '1959')"
          [ngClass]="{ active: activeButton === '1950-1959' }"
          (click)="setActiveButton('1950-1959')"
        >
          1950-1959
        </button>
      </li>
      <li>
        <button
          (click)="showMoviesByYear('1940', '1949')"
          [ngClass]="{ active: activeButton === '1940-1949' }"
          (click)="setActiveButton('1940-1949')"
        >
          1940-1949
        </button>
      </li>
      <li>
        <button
          (click)="showMoviesByYear('1930', '1939')"
          [ngClass]="{ active: activeButton === '1930-1939' }"
          (click)="setActiveButton('1930-1939')"
        >
          1930-1939
        </button>
      </li>
      <li>
        <button
          (click)="showMoviesByYear('1920', '1929')"
          [ngClass]="{ active: activeButton === '1920-1929' }"
          (click)="setActiveButton('1920-1929')"
        >
          1920-1929
        </button>
      </li>
      <li>
        <button
          (click)="showMoviesByYear('1910', '1919')"
          [ngClass]="{ active: activeButton === '1910-1919' }"
          (click)="setActiveButton('1910-1919')"
        >
          1910-1919
        </button>
      </li>
      <li>
        <button
          (click)="showMoviesByYear('1900', '1909')"
          [ngClass]="{ active: activeButton === '1900-1909' }"
          (click)="setActiveButton('1950-1959')"
        >
          1900-1909
        </button>
      </li>
    </ul>
  </div>
  <h3>Par Pays</h3>
  <div class="country">
    <ng-container *ngFor="let item of countryMap">
      <ul class="countryList">
        <li>
          <button
            (click)="showMoviesByCountry(item.name)"
            [ngClass]="{ active: activeButton === item.name }"
            (click)="setActiveButton(item.name)"
          >
            {{ item.name }}
          </button>
        </li>
      </ul>
    </ng-container>
  </div>
  <div class="addAMovie">
    <a href="add-movie"
      ><img src="assets/icon/add.png" class="addIcon" alt="Ajouter un film"
    /></a>
    <button><a href="add-movie">Ajouter un film</a></button>
  </div>
</section>
