.movies-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}


.movies-container {
  display: flex;
  gap: 10px;
  overflow-x: hidden;
  padding: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  white-space: nowrap;

}
article {
  flex: 0 0 auto; 
}
article:hover {
  transform: scale(1.04);
}
 
a,p {
  color: white;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  border-radius: 50%;
  z-index: 10;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.left {
  left: 40px;
}

.right {
  right: 40px;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 8px;
}

.userReview {
  display:flex;
  overflow: hidden;
  text-overflow: ellipsis '...';
  word-wrap: break-word; /* Permet de couper les mots longs si nécessaire */
  max-width: 60%; /* Assure que le texte reste dans la card */
}


.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 10px;
  align-items: flex-start;
}


article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#141414;
  box-sizing: border-box;
  height: 300px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.02);
  }
}
strong {
  color:white;
}


.btn-style {
  display: inline-block;
  justify-content: center;
  padding: 2px 3px;
  color: #fff;
  background-color: #000000;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: black;
  }

  .btnBloc {
    display: flex;
    justify-content: center;
  }
}

h3 {
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
  color: white;
}



.img {
  border-radius: 2px;
  width: 120px;
  height: 200px;
  object-fit: cover;
}

@media screen and (min-width: 1200px) {


}
