.Sidenav {
    margin: 2rem;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
}

.country {
    max-height: 200px; 
    overflow-y: auto; 
}

.countryList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    padding: 8px 0;
}
