
<div class="container">
  <h1>Ajouter un film</h1>
  <form class="form1" [formGroup]="addMovieForm" (ngSubmit)="onSubmit()">

    <input type="text" id="title" formControlName="title" placeholder="Titre" />

    <select
    [formControl]="addMovieForm.controls['country']"
    (change)="onCountryChange($event)"
  >
    <option value="" disabled selected>Pays</option>
    <ng-container *ngFor="let item of countryMap">
      <option [value]="item.name">{{ item.name }}</option>
    </ng-container>
  </select>
  

  <input
      type="number"
      id="releaseYear"
      formControlName="releaseYear"
      placeholder="Année de sortie"
    />

    <input
      type="text"
      id="director"
      formControlName="director"
      placeholder="Réalisateur"
    />

    <textarea
      id="synopsis"
      formControlName="synopsis"
      placeholder="Synopsis"
    ></textarea>


    <input
      type="url"
      id="posterUrl"
      formControlName="posterUrl"
      placeholder="URL de l'affiche"
    />

    <select
    [formControl]="addMovieForm.controls['genreName']"
    (change)="onGenreChange($event)"
  >
    <option value="" disabled selected>Genre</option>
    <ng-container *ngFor="let genre of genreMap">
      <option [value]="genre.name">{{ genre.name }}</option>
    </ng-container>
  </select>

  
    <button type="submit">Valider</button>
  </form>
  <div class="create-account">
    <a href="database">Retour</a>
  </div>
</div>
