<section>
    <h2>Carousel</h2>
</section>
<section>
    <h2>Les derniers films ajoutés</h2>
    <div class="movies-container">
    <ng-container *ngFor="let item of sortedMoviesById">
        <article *ngIf="item.id">
            <header>
                <h3>{{ item.title }}</h3>
                <p>{{ item.releaseYear }}</p>
                <img [src]="item.posterUrl" alt="{{ item.title }} poster" class="img">
            </header>
        </article>
    </ng-container>
</div>
<h2>Les derniers films commentés</h2>
</section>
