<app-member-navbar></app-member-navbar>
<section>
    <div class="profil">
    <h1 >Mon profil</h1>
    <label for="email"></label>
        <input type="text" id="email" formControlName="email" placeholder="email">

        <label for="username"></label>
        <input type="text" id="username" formControlName="username"placeholder="Pseudo">
</div>
<div class="password">
    <h1 class="passwordTitle">Mon profil</h1>

    <label for="lastPassword"></label>
        <input type="text" id="lastPassword" formControlName="lastPassword" placeholder="Ancien mot de passe">

        <label for="newPassword"></label>
        <input type="text" id="newPassword" formControlName="newPassword"placeholder="Nouveau mot de passe">

        <label for="newPasswordConfirmation"></label>
        <input type="text" id="newPasswordConfirmation" formControlName="newPasswordConfirmation"placeholder="Confirmez le nouveau mot de passe">
    
</div>
<button>Supprimer mon compte</button>
</section>