<div class="movies-wrapper">
  <button class="scroll-btn left" (click)="scrollLeft()">&#10094;</button>
  <div class="movies-container" #moviesContainer>
    <ng-container *ngFor="let movie of sortedMoviesById">
      <article *ngIf="movie.id">
        <header>
          <img
            [routerLink]="['/movie-review', movie.id]"
            class="btn-style"
            [src]="movie.posterUrl"
            alt=" Affiche du film {{ movie.title }}"
            class="img"
          />
        </header>
      </article>
    </ng-container>
  </div>
  <button class="scroll-btn right" (click)="scrollRight()">&#10095;</button>
</div>
